<!-- $searchPlaceholder='' -->
<!-- $unselectable=0 -->

<!-- data-include='/admin/base/index.html' -->

<thead>
    <tr>
        <th class='col-xs-1'></th>
<!-- HEAD_HTML -->
    </tr>
</thead>
<tbody>
    <!-- :class='danger' data-exist=$selectedRows -->
    <tr data-loop=$<!-- LOOP_ITEM -->>
        <td>
            <input type='checkbox' name='selectedRows[]' style='display:none;' :value=$<!-- SINGULAR_ITEM -->->id />

            <a href='{{ route('<!-- EDIT_NAME -->', ['id' => $<!-- SINGULAR_ITEM -->->id]) }}'><!-- $<!-- SINGULAR_ITEM -->->id --></a>
        </td>
<!-- BODY_HTML -->
    </tr>
</tbody>

<!-- data-include='index_paginate' -->

<!-- data-include='button_create' -->
<!--
    data-include='modal_destroy'
    $modalAction=route('<!-- SELECT_NAME -->')
    data-exist=$isLoop
-->

<!-- data-include='index_footer' -->
