<!-- $searchPlaceholder="" -->
<!-- data-bloc="searchFilter" -->
<!-- data-endbloc -->

<!-- $unselectable=0 -->

<!-- data-bloc="button_top_left" -->
    <!-- data-include="button_create" -->
<!-- data-endbloc -->

<!-- data-bloc="button_top_right" -->
    <!--
        data-include="modal_destroy"
        $modalAction=route("<!-- PREFIX -->.select")
        data-if="$isLoop && empty($unselectable)"
    -->
<!-- data-endbloc -->

<!-- data-include="/admin/base/index/header.blocs.html" -->

<div class="dataTable-wrapper no-footer" data-exist=$isLoop>
    <div class="dataTable-container">
        <div class="table-responsive">
            <table class="table dataTable-table">
                <thead class="thead-light">
                    <tr>
                        <th class="w-1" data-none=$unselectable>
                            <div class="form-check p-0 fs-6">
                                <input type="checkbox" class="form-check-input" />
                            </div>
                        </th>
<!-- HEAD_HTML -->                        <th class="w-1"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-loop=$<!-- LOOP_ITEM -->>
                        <td data-none=$unselectable>
                            <div class="form-check p-0 fs-6">
                                <input type="checkbox" name="selectedRows[]" class="form-check-input" :value=$<!-- SINGULAR_ITEM -->->id />
                            </div>
                        </td>
<!-- BODY_HTML -->                        <td class="text-nowrap">
                            <a class="me-3" data-bs-toggle="modal" data-bs-target="#modalActivate" :data-modalaction=route("<!-- PREFIX -->.toggle", ["id" => $<!-- SINGULAR_ITEM -->->id]) data-exist=$<!-- SINGULAR_ITEM -->->disabled_at>
                                <i class="fa-solid fa-check" data-bs-toggle="tooltip" :data-bs-original-title=lang("template:admin_user_valid_title")></i>
                            </a>
                            <a class="me-3" data-bs-toggle="modal" data-bs-target="#modalInactivate" :data-modalaction=route("<!-- PREFIX -->.toggle", ["id" => $<!-- SINGULAR_ITEM -->->id]) data-none=$<!-- SINGULAR_ITEM -->->disabled_at>
                                <i class="fa-solid fa-ban" data-bs-toggle="tooltip" :data-bs-original-title=lang("template:admin_user_invalid_title")></i>
                            </a>
                            <a :href=route("<!-- PREFIX -->.edit", ["id" => $<!-- SINGULAR_ITEM -->->id]) class="me-3">
                                <i class="fa-solid fa-pen" data-bs-toggle="tooltip" :data-bs-original-title=lang("template:resource_blocs_modal_update_title")></i>
                            </a>
                            <a class="me-3" data-bs-toggle="modal" data-bs-target="#modalDelete" :data-modalaction=route("<!-- PREFIX -->.destroy", ["id" => $<!-- SINGULAR_ITEM -->->id])>
                                <i class="fa-solid fa-trash" data-bs-toggle="tooltip" :data-bs-original-title=lang("template:resource_blocs_modal_delete_title")></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- data-exist=$paginate -->
    {{ $paginate->links("admin.base.index.pagination") }}
    <!-- data-endexist -->
</div>

<!-- data-bloc="modal_button" -->
    <!-- data-include="button_back_modal" -->
    <!--
        data-include="button_success_modal"
        $buttonModalLabel=lang("template:admin_user_button_valid")
    -->
<!-- data-endbloc -->
<!--
    data-include="modal"
    $modalName="modalActivate"
    $modalTitle=lang("template:admin_user_valid_title")
    $modalMessage=lang("template:admin_user_valid_message")
    data-exist=$isLoop
-->

<!-- data-bloc="modal_button" -->
    <!-- data-include="button_back_modal" -->
    <!--
        data-include="button_warning_modal"
        $buttonModalIcon="fa-solid fa-ban"
        $buttonModalLabel=lang("template:admin_user_button_invalid")
    -->
<!-- data-endbloc -->
<!--
    data-include="modal"
    $modalName="modalInactivate"
    $modalTitle=lang("template:admin_user_invalid_title")
    $modalMessage=lang("template:admin_user_invalid_message")
    data-exist=$isLoop
-->

<!-- data-bloc="modal_button" -->
    <!-- data-include="button_back_modal" -->
    <!-- data-include="button_danger_modal" -->
<!-- data-endbloc -->
<!--
    data-include="modal"
    $modalName="modalDelete"
    $modalTitle=lang("template:resource_blocs_modal_delete_title")
    $modalMessage=lang("template:resource_blocs_modal_delete_message")
    data-exist=$isLoop
-->

<!-- data-include="/admin/base/index/footer.blocs.html" -->
