<!-- $searchPlaceholder="" -->
<!-- data-bloc="searchFilter" -->
<!-- data-endbloc -->

<!-- $selectable=true -->

<!-- data-bloc="buttonCardHeader" -->
    <a :href=route(prefix().".create") class="me-3">
        <i class="fa-solid fa-plus" data-bs-toggle="tooltip" :data-bs-original-title=lang("template:resource_blocs_modal_new_title")></i>
    </a>
<!-- data-endbloc -->

<!-- data-include="/admin/base/index/header.html" -->

<div class="card">
    <!-- data-include="cardHeader" -->
    <div class="alert alert-info m-2" role="alert" data-none=$isLoop>
        <!-- data-lang="template:resource_blocs_base_index_no_data" -->
    </div>
    <div class="dataTable-wrapper no-footer" data-exist=$isLoop>
        <div class="dataTable-container">
            <div class="table-responsive">
                <table class="table dataTable-table">
                    <thead class="thead-light">
                        <tr>
                            <th class="w-1" data-exist=$selectable>
                                <div class="form-check p-0 fs-6">
                                    <input type="checkbox" class="form-check-input" />
                                </div>
                            </th>
<!-- HEAD_HTML -->                            <th class="w-1"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-loop=$<!-- LOOP_ITEM -->>
                            <td data-exist=$selectable>
                                <div class="form-check p-0 fs-6">
                                    <input type="checkbox" name="selectedRows[]" class="form-check-input" :value=$<!-- SINGULAR_ITEM -->->id />
                                </div>
                            </td>
<!-- BODY_HTML -->                            <td class="text-nowrap">
                                <a class="me-3" data-bs-toggle="modal" data-bs-target="#modalActivate" :data-modalaction=route(prefix().".toggle", ["id" => $<!-- SINGULAR_ITEM -->->id]) data-exist=$<!-- SINGULAR_ITEM -->->disabled_at>
                                    <i class="fa-solid fa-check" data-bs-toggle="tooltip" :data-bs-original-title=lang("template:resource_blocs_modal_activate_title")></i>
                                </a>
                                <a class="me-3" data-bs-toggle="modal" data-bs-target="#modalInactivate" :data-modalaction=route(prefix().".toggle", ["id" => $<!-- SINGULAR_ITEM -->->id]) data-none=$<!-- SINGULAR_ITEM -->->disabled_at>
                                    <i class="fa-solid fa-ban" data-bs-toggle="tooltip" :data-bs-original-title=lang("template:resource_blocs_modal_inactivate_title")></i>
                                </a>
                                <a :href=route(prefix().".edit", ["id" => $<!-- SINGULAR_ITEM -->->id]) class="me-3">
                                    <i class="fa-solid fa-pen" data-bs-toggle="tooltip" :data-bs-original-title=lang("template:resource_blocs_modal_update_title")></i>
                                </a>
                                <a :href=route(prefix().".show", ["id" => $<!-- SINGULAR_ITEM -->->id]) class="me-3">
                                    <i class="fa-solid fa-trash" data-bs-toggle="tooltip" :data-bs-original-title=lang("template:resource_blocs_modal_delete_title")></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- data-exist=$paginate -->
        {{ $paginate->links("admin.base.index.pagination") }}
        <!-- data-endexist -->
    </div>
</div>

<!-- data-bloc="modalFooterRight" -->
    <!--
        data-include="buttonSuccessModal"
        $buttonModalLabel=lang("template:resource_blocs_button_activate")
    -->
<!-- data-endbloc -->
<!--
    data-include="modal"
    $modalName="modalActivate"
    $modalTitle=lang("template:resource_blocs_modal_activate_title")
    $modalMessage=lang("template:resource_blocs_modal_activate_message")
    data-exist=$isLoop
-->

<!-- data-bloc="modalFooterRight" -->
    <!--
        data-include="buttonWarningModal"
        $buttonModalIcon="fa-solid fa-ban"
        $buttonModalLabel=lang("template:resource_blocs_button_inactivate")
    -->
<!-- data-endbloc -->
<!--
    data-include="modal"
    $modalName="modalInactivate"
    $modalTitle=lang("template:resource_blocs_modal_inactivate_title")
    $modalMessage=lang("template:resource_blocs_modal_inactivate_message")
    data-exist=$isLoop
-->

<!-- data-bloc="buttonBottomLeft" -->
    <!--
        data-include="modal_destroy"
        $buttonClass="btn btn-outline-danger"
        $modalAction=route(prefix().".select")
        data-if="$isLoop && !empty($selectable)"
    -->
<!-- data-endbloc -->

<!-- data-bloc="buttonBottomCenter" -->
    <!-- data-include="button_create" -->
<!-- data-endbloc -->

<!-- data-include="/admin/base/index/footer.html" -->
