<link rel='stylesheet' href='/css/jquery.growl.css' />
<style type="text/css">
  .growl:hover {
    opacity: 1;
  }
  .growl a {
    color: inherit;
  }
  .note_header {
    border-bottom: 1px solid rgba(255,255,255,0.5);
    margin-bottom: 5px;
  }
  .note_id {
    position: absolute;
    bottom: 10px;
    right: 5px;
    opacity: 0.5;
    font-size: 36px;
  }
  .note_footer {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
  }
  .note_meta {
    flex-grow: 2;
  }
  .note_edit_cancel,
  .note_edit_save,
  .note_edit_done {
    text-align: center;
    flex-basis: 30%;
  }
  .hide {
    display: none !important;
  }
  .growl .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: auto;
  }
  .growl textarea.form-control {
    height: auto;
  }
</style>

<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous" data-exist=$jquery_include></script>
<script type='text/javascript' src='/js/jquery/jquery.growl.js'></script>
<script type='text/javascript'>
function _growl_clear_event(){
  $('.growl').off('click contextmenu');
  $('.growl-close').off('click');
}
function _post_note(note, context = null){
  var nth = note.prevAll().length;
  var id = note.find('.note_header').data('id');
  var context = context ? context : note.find('.note_header select').val();
  var title = note.find('.note_header input').val();
  var body = note.find('.note_body textarea').val();

  $.post(confirm_script, {
    id: id,
    route_entry: route_entry,
    style: context,
    title: title,
    message: body,
    linear_token: linear_token,
    json_flag: 1
  }, function(res){
    if (note.data('original') && growl_clone[note.data('original') - 1]) {
      note.find('.growl-title').replaceWith(growl_clone[note.data('original') - 1].find('.growl-title'));
      note.find('.growl-message').replaceWith(growl_clone[note.data('original') - 1].find('.growl-message'));
    }
    note = $('#growls-tl').find('.growl').eq(nth);
    if (!note.find('.note_header').data('id')) {
      note.find('.note_header').attr('data-id', res.id);
      note.find('.note_header').data('id', res.id);
      note.find('.note_id').html(res.id);
      note.find('.note_update').text(res.update).after(' | ');
      note.find('.note_author').text('<!-- data-val=$auth_name -->');
    }
    note.find('.note_title').html(res.title);
    note.find('.note_body').html(res.message);
    note.removeClass('growl-default growl-notice growl-warning growl-error').addClass('growl-'+context);
    note.find('.growl-close').removeClass('hide');
    if (res.linear_token) {
      linear_token = res.linear_token;
      if (context == 'done') {
        note.remove();
      }
      return false;
    } else {
      note.find('.note_edit_save').remove();
      note.find('.note_edit_cancel').html('<i class="fa fa-exclamation-triangle"></i>').removeClass('hide');
    }
  }, 'json');
}

var note_edit = "<div class='note_edit_cancel hide'><i class='fa fa-ban'></i> Cancel</div><div class='note_edit_done hide'><i class='fa fa-check'></i> Done</div><div class='note_edit_save hide'><i class='fa fa-save'></i> Save</div>";

<!-- data-query=$note_message data-val="<div class='note_add'>新規メモ</div>" data-exist=$auth_id -->
<!-- data-query=$note_message data-val="<a href='{$_(HTTP_ADMIN_PATH)}'>ログイン</a>" data-none=$auth_id -->

var route_entry = '<!-- data-val=$route_entry -->';
var confirm_script = '<!-- data-val="{$_(HTTP_ADMIN_PATH)}/top_menu/note/confirm.php" -->';
var linear_token = '<!-- data-val=$linear_token -->';
var growl_clone = [];
var growl_add_option = {
    title: "",
    message: "<!-- data-val=$note_message data-convert='raw' -->",
    style: "default",
    fixed: "true",
    size: "large",
    location: "tl"
  };

$(function(){
<!-- data-repeat=$sticky_notes -->
  $.growl({
    title: "<div class='note_header' data-id='<!-- data-val=$id -->'><span class='note_id'><!-- data-val=$id --></span> <span class='note_title'><!-- data-val=$title --></span>&nbsp;</div>",
    message: "<div class='note_body'><!-- data-val=$message data-convert='raw_autolink' --></div><div class='note_footer'><div class='note_meta'><span class='note_update'><!-- data-val=$update data-convert='date' --></span> | <span class='note_author'><!-- data-val=$user['name'] --></span></div>" + note_edit + "</div>",
    style: "<!-- data-val=$style data-convert='raw' -->",
    fixed: "true",
    size: "large",
    location: "tl"
  });
<!-- data-endrepeat -->

  $.growl(growl_add_option);
  _growl_clear_event();

  $(document).on('dblclick', '.growl', function(event){
    var note = $(this);
    if (note.find('.note_add').length) {
      note.remove();
      $.growl({
        title: "<div class='note_header' data-id='0'><span class='note_id'>-</span> <span class='note_title'></span>&nbsp;</div>",
        message: "<div class='note_body'></div><div class='note_footer'><div class='note_meta'><span class='note_update'></span><span class='note_author'></span></div>" + note_edit + "</div>",
        style: "default",
        fixed: "true",
        size: "large",
        location: "tl"
      });
      $('#growls-tl').find('.growl:last .note_header').trigger('dblclick');
      $.growl(growl_add_option);
      _growl_clear_event();
      return;
    }
    if (note.find('.note_body textarea').length) {
      return false;
    }
    growl_clone.push(note.clone());
    note.data('original', growl_clone.length);

    var note_title = note.find('.note_title').text();
    note.find('.note_header').html('<input type="text" class="form-control">');
    note.find('.note_header input').val(note_title);
    note.find('.note_header').prepend('<sel'+'ect name="style" class="form-control"></sel'+'ect>');
    note.find('.note_header select').append('<option value="default">Default</option>')
      .append('<option value="notice">Notice</option>')
      .append('<option value="warning">Warning</option>')
      .append('<option value="error">Error</option>');

    if (note.hasClass('growl-notice')) {
      note.find('.note_header select').val('notice');
    } else if (note.hasClass('growl-warning')) {
      note.find('.note_header select').val('warning');
    } else if (note.hasClass('growl-error')) {
      note.find('.note_header select').val('error');
    }

    var note_body = note.find('.note_body').html();
    var count = (note_body.match(/<br>/g) || []).length;
    note.find('.note_body').html('<textarea rows="' + (count + 1) + '" class="form-control">' + note_body.replaceAll('<br>', "\n").replace(/<("[^"]*"|'[^']*'|[^'">])*>/g,'') + '</textarea>');
    note.find('.growl-close, .note_meta').addClass('hide');
    note.find('.note_edit_save, .note_edit_cancel').removeClass('hide');
    if (note.find('.note_header').data('id')) {
      note.find('.note_edit_done').removeClass('hide');
    }
    return false;
  });

  $(document).on('keyup', '.note_body textarea', function(event){
    var note_body = $(this).val();
    var count = (note_body.match(/\n/g) || []).length;
    $(this).attr('rows', count + 1);
  });

  $(document).on('change', '.note_header select', function(event){
    var note = $(this).closest('.growl');
    if ('done' == $(this).val()) {
      note.removeClass('growl-default growl-notice growl-warning growl-error').addClass('growl-default');
      note.css('opacity', '0.8');
    } else {
      note.removeClass('growl-default growl-notice growl-warning growl-error').addClass('growl-'+$(this).val());
      note.css('opacity', '');
    }
  });

  $(document).on('click', '.note_edit_save', function(event){
    var note = $(this).closest('.growl');
    _post_note(note);
  });

  $(document).on('click', '.note_edit_done', function(event){
    var note = $(this).closest('.growl');
    _post_note(note, 'done');
  });

  $(document).on('click', '.note_edit_cancel', function(event){
    var note = $(this).closest('.growl');
    if (note.find('.note_header').data('id')) {
      if (note.data('original') && growl_clone[note.data('original') - 1]) {
        note.find('.growl-title').replaceWith(growl_clone[note.data('original') - 1].find('.growl-title'));
        note.find('.growl-message').replaceWith(growl_clone[note.data('original') - 1].find('.growl-message'));
      }
      note.find('.growl-close').removeClass('hide');
    } else {
      note.remove();
    }
    return false;
  });

  $(document).on('click', '.growl-close', function(event){
    $(this).closest('.growl').remove();
  });
});

</script>
