<!-- data-bloc='button_href' -->
    <!-- data-attribute='href' data-val=$buttonHref -->
    <!-- data-attribute='class' data-val=$buttonClass -->
    <a>
        <!-- data-attribute='class' data-val=$buttonIcon -->
        <span></span> <!-- data-val=$buttonLabel -->
    </a>

    <!-- $buttonHref='' $buttonClass='' $buttonIcon='' $buttonLabel='' -->
<!-- data-endbloc -->

<!-- data-bloc='button_back' -->
    <!--
        data-include='button_href'
        $buttonHref='./'
        $buttonClass='btn btn-default btn-lg'
        $buttonIcon='fa fa-arrow-left'
        $buttonLabel=lang('template:resource_blocs_button_back')
    -->
<!-- data-endbloc -->

<!-- data-bloc='button_create' -->
    <!--
        data-include='button_href'
        $buttonHref=route(prefix().'.create')
        $buttonClass='btn btn-primary btn-lg'
        $buttonIcon='fa fa-plus'
        $buttonLabel=lang('template:resource_blocs_button_new')
    -->
<!-- data-endbloc -->

<!-- data-bloc='button' -->
    <!-- data-attribute='type' data-val=$buttonType data-exist=$buttonType -->
    <!-- data-attribute='class' data-val=$buttonClass -->
    <button type='button'>
        <!-- data-attribute='class' data-val=$buttonIcon -->
        <span></span> <!-- data-val=$buttonLabel -->
    </button>

    <!-- $buttonType='' $buttonClass='' $buttonIcon='' $buttonLabel='' -->
<!-- data-endbloc -->

<!-- data-bloc='button_target' -->
    <!-- data-attribute='data-bs-target' data-val=$modalName data-prefix='#' data-exist=$modalName -->
    <!-- data-attribute='data-bs-toggle' data-val='modal' data-exist=$modalName -->
    <!-- data-include='button' -->
<!-- data-endbloc -->

<!-- data-bloc='button_primary' -->
    <!--
        data-include='button_target'
        $buttonClass='btn btn-primary btn-lg'
        $buttonIcon='fa fa-arrow-right'
        $buttonLabel=lang('template:resource_blocs_button_confirm')
    -->
<!-- data-endbloc -->

<!-- data-bloc='button_info' -->
    <!--
        data-include='button_target'
        $buttonClass='btn btn-info btn-lg'
        $buttonIcon='fa fa-info-circle'
        $buttonLabel=lang('template:resource_blocs_button_confirm')
    -->
<!-- data-endbloc -->

<!-- data-bloc='button_success' -->
    <!--
        data-include='button_target'
        $buttonClass='btn btn-success btn-lg'
        $buttonIcon='fa fa-check'
        $buttonLabel=lang('template:resource_blocs_button_confirm')
    -->
<!-- data-endbloc -->

<!-- data-bloc='button_danger' -->
    <!--
        data-include='button_target'
        $buttonClass='btn btn-danger btn-lg'
        $buttonIcon='fa fa-trash'
        $buttonLabel=lang('template:resource_blocs_button_delete')
    -->
<!-- data-endbloc -->

<!-- data-bloc='button_warning' -->
    <!--
        data-include='button_target'
        $buttonClass='btn btn-warning btn-lg'
        $buttonIcon='fa fa-exclamation-triangle'
        $buttonLabel=lang('template:resource_blocs_button_warning')
    -->
<!-- data-endbloc -->

<!-- data-bloc='button_toggle' -->
    <!--
        data-include='button_target'
        $buttonClass='btn btn-success btn-sm'
        $buttonActiveIcon='fa fa-check'
        $buttonIcon=$buttonActiveIcon
        $buttonActiveLabel=''
        $buttonLabel=$buttonActiveLabel
        data-none=$disabled_at
    -->

    <!--
        data-include='button_target'
        $buttonClass='btn btn-warning btn-sm'
        $buttonInactiveIcon='fa fa-exclamation-triangle'
        $buttonIcon=$buttonInactiveIcon
        $buttonInactiveLabel=''
        $buttonLabel=$buttonInactiveLabel
        data-exist=$disabled_at
    -->

    <!-- $disabled_at='' -->
<!-- data-endbloc -->
