<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    Blues3 = ['#deebf7', '#9ecae1', '#3182bd'],
    Tableau10 = ['#4E79A7', '#F28E2B', '#E15759', '#76B7B2', '#59A14F', '#EDC948', '#B07AA1', '#FF9DA7', '#9C755F', '#BAB0AC'];
</script>

<!-- data-assign=$chartjsColor data-val="Tableau10" data-none=$chartjsColor -->

<script data-bloc="chartjs_2bar_1line">
    $(function () {
        var {{ $graphId }}Data = {
            labels: <!-- data-val=$graphLabels data-convert="raw" -->,
            datasets: [
            {
                type: "line",
                label: "{{ $graphLegendLine1 }}",
                backgroundColor: {{ $chartjsColor }}[2],
                borderColor: {{ $chartjsColor }}[2],
                data: {{ $graphDataLine1 }},
                yAxisID: "y2"
            },
            {
                type: "bar",
                label: "{{ $graphLegendBar1 }}",
                backgroundColor: {{ $chartjsColor }}[0],
                borderColor: {{ $chartjsColor }}[0],
                data: {{ $graphDataBar1 }},
                yAxisID: "y1"
            },
            {
                type: "bar",
                label: "{{ $graphLegendBar2 }}",
                backgroundColor: {{ $chartjsColor }}[1],
                borderColor: {{ $chartjsColor }}[1],
                data: {{ $graphDataBar2 }},
                yAxisID: "y1"
            }
            ]
        }

        var {{ $graphId }}Canvas = $("#{{ $graphId }}").get(0).getContext("2d")

        new Chart({{ $graphId }}Canvas, {
            data: {{ $graphId }}Data,
            options: {
                scales: {
                    y1: {
                        position: "left",
                        max: {{ $graphYaxisMax }},
                        min: 0
                    },
                    y2: {
                        position: "right",
                        max: {{ $graphY2axisMax }},
                        min: 0,
                        grid: {
                            display: false
                        }
                    }
                }
            }
        })
    })
</script>
