<script src="https://cdnjs.cloudflare.com/ajax/libs/libphonenumber-js/1.11.1/libphonenumber-js.min.js" integrity="sha512-yS0AHkSS09VCH2wqNLDv7qZ7RaQQhL2OfCbeTgTs2PSrSPhXKm7Qvwe3I1h/cCQtg0ElsiHI2ysYvNJXfgSHqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">
    observeAi(".ai-phone", function(item) {
        item.addEventListener("keyup", function(){
            var value = this.value;
            if (!/^[0０]/.test(value) || !libphonenumber.isValidNumber(value, "JP")) {
                return;
            }
            this.value = new libphonenumber.AsYouType("JP").input(value);
        });
        item.classList.remove("ai-phone");
    });
</script>
