<!-- data-include='header.html' -->

<!-- data-attribute='enctype' data-val='multipart/form-data' data-exist=$multipart -->
<form method='post'>
	@csrf
	<div class='box'>
		<div class='box-body no-padding'>

<!-- data-bloc='entry_separator' -->
		</div><!-- /.box-body -->
		<div class='box-footer text-center clearfix'>
<!-- data-endbloc -->

<!-- data-bloc='entry_footer' -->
		</div>
<!-- /.box-footer -->
	</div>
<!-- /.box -->
</form>

<!-- data-include='footer.html' -->

<!-- data-endbloc -->
