<!-- data-assign=$searchPlaceholder data-lang='template:admin_user_search' -->

<!-- data-include="../base/index.html" -->

<!-- data-assign=$modalName data-val='modal_toggle' -->

<thead>
	<tr>
		<th class='col-xs-2 col-sm-1'></th>
		<th class='col-xs-4 col-sm-4'><!-- data-lang='template:admin_user_header_id' --></th>
		<th class='col-xs-6 col-sm-5'><!-- data-lang='template:admin_user_header_name' --></th>
		<th class='hidden-xs col-sm-2'><!-- data-lang='template:admin_user_header_registration' --></th>
	</tr>
</thead>
<tbody>
	<!-- data-attribute="class" data-val="danger" data-exist=$selectedRows -->
	<tr data-repeat=$table>
		<td>
			<!-- data-attribute='value' data-val=$id -->
			<input type='checkbox' name='selectedRows[]' style='display:none;' />
			<!-- data-include='button_toggle' -->
		</td>
		<td class='ellipsis toggle-item'>
			<a href="{{ route(ROUTE_PREFIX.'.entry', ['id' => $id]) }}" data-val=$email></a>
		</td>
		<td class='ellipsis' data-val=$name></td>
		<td class='hidden-xs' data-val=$created_at data-convert='date'></td>
	</tr>
</tbody>

<!-- data-assign=$modalTitileSubmit data-lang='template:admin_user_valid_title' -->
<!-- data-assign=$modalMessageSubmit data-lang='template:admin_user_valid_message' -->
<!-- data-assign=$modalTitleWarning data-lang='template:admin_user_invalid_title' -->
<!-- data-assign=$modalMessageWarning data-lang='template:admin_user_invalid_message' -->

<!-- data-bloc='modal_button' -->

<!-- data-include='button_back_modal' -->
<!-- data-assign=$buttonSuccessModalLabel data-lang='template:admin_user_button_valid' -->
<!-- data-include='button_success_modal' -->
<!-- data-assign=$buttonWarningModalLabel data-lang='template:admin_user_button_invalid' -->
<!-- data-include='button_warning_modal' -->

<!-- data-endbloc -->

<!-- data-include='modal_toggle' data-exist=$table -->

<!-- data-include='index_paginate' -->

<!-- data-include='button_new' -->

@php $modalAction = route(ROUTE_PREFIX.'.select') @endphp
<!-- data-include='modal_delete' data-exist=$table -->

<!-- data-include='index_footer' -->
