<!-- data-assign=$searchPlaceholder data-lang='template:admin_user_search' -->

<!-- data-include="../base/index.html" -->

<!-- data-assign=$modalName data-val='modal_toggle' -->

<thead>
	<tr>
		<th class='col-xs-2 col-sm-1'></th>
		<th class='col-xs-4 col-sm-4'><!-- data-lang='template:admin_user_header_id' --></th>
		<th class='col-xs-6 col-sm-5'><!-- data-lang='template:admin_user_header_name' --></th>
		<th class='hidden-xs col-sm-2'><!-- data-lang='template:admin_user_header_registration' --></th>
	</tr>
</thead>
<tbody>
	<!-- data-attribute="class" data-val="danger" data-exist=$selectedRows -->
	<tr data-loop=$users>
		<td>
			<!-- data-attribute='value' data-val=$user->id -->
			<input type='checkbox' name='selectedRows[]' style='display:none;' />
			<!--
				data-include='button_toggle'
				$disabled_at=$user->disabled_at
			-->
		</td>
		<td class='ellipsis toggle-item'>
			<a href="{{ route(ROUTE_PREFIX.'.entry', ['id' => $user->id]) }}" data-val=$user->email></a>
		</td>
		<td class='ellipsis' data-val=$user->name></td>
		<td class='hidden-xs' data-val=$user->created_at data-convert='date'></td>
	</tr>
</tbody>

<!-- data-bloc='modal_button' -->
<!-- data-include='button_back_modal' -->
<!--
	data-include='button_success_modal'
	$buttonSuccessModalLabel=\Blocs\Lang::get('template:admin_user_button_valid')
-->
<!--
	data-include='button_warning_modal'
	$buttonWarningModalLabel=\Blocs\Lang::get('template:admin_user_button_invalid')
-->
<!-- data-endbloc -->

<!--
	data-include='modal_toggle'
	$modalTitleSubmit=\Blocs\Lang::get('template:admin_user_valid_title')
	$modalMessageSubmit=\Blocs\Lang::get('template:admin_user_valid_message')
	$modalTitleWarning=\Blocs\Lang::get('template:admin_user_invalid_title')
	$modalMessageWarning=\Blocs\Lang::get('template:admin_user_invalid_message')
	data-exist=$loopIs
-->

<!-- data-include='index_paginate' -->

<!-- data-include='button_new' -->

<!--
	data-include='modal_delete'
	$modalAction = route(ROUTE_PREFIX.'.select')
	data-exist=$loopIs
-->

<!-- data-include='index_footer' -->