<!--
    data-include="../base/entry/header.blocs.html"
    $subTitle="編集"
-->

<input type="hidden" name="updated_at" />

<div class="card-body pt-2 d-flex flex-column gap-3">
    <!-- :class="input-group input-group-outline is-invalid" data-exist=$errors->has("email") -->
    <div class="input-group input-group-outline">
        <label class="form-label"><!-- data-lang="template:admin_profile_user_id" --></label>
        <input type="text" name="email" class="form-control" readonly />
    </div>

    <div class="row" data-exist=$option_role>
        <label><!-- data-lang="template:admin_user_role" --></label>
        <div class="col-auto p-1" data-loop=$option_role>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" name="role[]" :value=$value /> <!-- $label -->
                </label>
            </div>
        </div>
    </div>

    <div class="input-group input-group-outline">
        <label class="form-label"><!-- data-lang="template:admin_profile_name" --></label>
        <input type="text" name="name" class="form-control" />
    </div>

    <!-- :class="input-group input-group-outline is-invalid" data-exist=$errors->has("password_old") -->
    <div class="input-group input-group-outline">
        <label class="form-label"><!-- data-lang="template:admin_profile_password_old" --></label>
        <input type="password" name="password_old" class="form-control" />

        @error("password_old") <div class="invalid-feedback">{{ $message }}</div> @enderror
    </div>

    <div class="input-group input-group-outline">
        <label class="form-label"><!-- data-lang="template:admin_profile_new_password" --></label>
        <input type="password" name="password_new" class="form-control" />
    </div>

    <!-- :class="input-group input-group-outline is-invalid" data-exist=$errors->has("repassword_new") -->
    <div class="input-group input-group-outline">
        <label class="form-label"><!-- data-lang="template:admin_profile_new_password_check" --></label>
        <input type="password" name="repassword_new" class="form-control" />

        <!-- !repassword_new="same:password_new" data-lang="template:admin_profile_password_incorrect" -->
        @error("repassword_new") <div class="invalid-feedback">{{ $message }}</div> @enderror
    </div>
</div>

<!-- data-bloc="button_bottom_left" -->
    <!-- data-include="modal_update" -->
<!-- data-endbloc -->

<!-- data-include="../base/common/footer.blocs.html" -->
