<!-- data-include="jquery.html" -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

<script type="text/javascript">
	$(function() {
		$('.multiselect').each(function(){
			$(this).select2({
				language: { 'noResults': function(){ return '<!-- data-lang='template:resource_blocs_multiselect_no_candidate' -->'; } }
			});
		});
	});
</script>
