<!-- data-attribute='data-filename' data-val=$filename -->
<tr data-repeat=$files>
	<!-- data-attribute='width' data-val="80" -->
	<td data-exist=$thumbnail>
		<span class='preview'>
			<a href="{{ route(ROUTE_PREFIX.'.download', ['filename' => $filename]) }}" target='_blank'>
				<img src="{{ route(ROUTE_PREFIX.'.download', ['filename' => $filename, 'size' => 'thumbnail']) }}" />
			</a>
		</span>
	</td>
	<!-- data-attribute="colspan" data-val="2" data-none=$thumbnail -->
	<td>
		<!-- data-attribute='href' data-val=$filename -->
		<div class='name'>
			<!-- data-attribute="target" data-val="_blank" data-exist=$thumbnail -->
			<a href="{{ route(ROUTE_PREFIX.'.download', ['filename' => $filename]) }}" data-val=$name></a>
		</div>
		<span class='size' data-val=$size data-convert='filesize'></span>
	</td>
	<td width='50'>
		<a class="btn btn-warning cancel" href="#">
			<i class='fa fa-ban'></i>
		</a>
	</td>
</tr>
