<!-- data-include='include/header.html' -->

<!-- data-include='search_form' data-exist=$searchPlaceholder -->
<!-- data-include='include/selectable.html' data-if='$isLoop && empty($unselectable)' -->

<div class='alert alert-info' data-none=$isLoop>
    <!-- data-lang='template:resource_blocs_base_index_no_data' -->
</div>

<form method='post'>
    @csrf
    <div class='box'>
        <div class='box-body no-padding' data-exist=$isLoop>
            <!-- data-include='button_select_all' data-none=$unselectable -->
            <div class='clearfix'></div>
            <table class='tbl1 mt5 table table-striped table-condensed'>

<!-- data-bloc='index_paginate' -->
            </table>
        </div>
        <!-- /.box-body -->

<!-- data-exist=$paginate -->
    {{ $paginate->links(ADMIN_VIEW_PREFIX.'.base.include.pagination.bootstrap-4') }}
<!-- data-endexist -->

<!-- data-none=$paginate -->
    </div>

    <div class='box'>
<!-- data-endnone -->

        <!-- /.box-footer -->
        <div class='box-footer text-center clearfix'>
<!-- data-endbloc -->

<!-- data-bloc='index_footer' -->
        </div>
        <!-- /.box-footer -->
    </div>
    <!-- /.box -->
</form>

<!-- data-include='include/footer.html' -->

<!-- data-endbloc -->
