<!-- data-include='/admin/base/entry.html' -->

<!-- data-include='entry_hidden' data-exist -->

<table class='tbl1 table table-condensed'>
    <thead>
        <tr>
            <th class='col-xs-4 col-sm-3'><!-- data-lang='template:admin_common_header_item' --></th>
            <th class='col-xs-8 col-sm-9'><!-- data-lang='template:admin_common_header_form' --></th>
        </tr>
    </thead>
    <tbody>
<!-- FORM_HTML -->
    </tbody>
</table>

<!-- data-include='entry_separator' -->

<!--
    data-include='button_back'
    $buttonHref=route('<!-- MENU_NAME -->')
-->
<!-- data-include='entry_modal' -->

<!-- data-include='entry_footer' -->
