<!-- data-include="/admin/base/entry/header.blocs.html" -->
<!-- data-include="form.html" -->

<!-- data-include="entryHidden" data-exist -->

<div class="card">
    <!-- data-include="cardHeader" -->
    <div class="card-body pt-2 d-flex flex-column gap-3"><!-- FORM_HTML -->    </div>
</div>

<!-- data-bloc="buttonBottomLeft" -->
    <!-- data-include="entryLeft" data-exist -->
<!-- data-endbloc -->

<!-- data-bloc="buttonBottomCenter" -->
    <!-- data-include="entryCenter" data-exist -->
<!-- data-endbloc -->

<!-- data-bloc="buttonBottomRight" -->
    <!-- data-include="entryRight" data-exist -->
<!-- data-endbloc -->

<!-- data-include="/admin/base/entry/footer.blocs.html" -->
