<!-- data-include="../base/entry.html" -->

<table class='tbl1 table table-condensed'>
    <thead>
        <tr>
            <th class='col-xs-4 col-sm-3'><!-- data-lang='template:admin_common_header_item' --></th>
            <th class='col-xs-8 col-sm-9'><!-- data-lang='template:admin_common_header_form' --></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>
                <label for='email'><!-- data-lang='template:admin_profile_user_id' --></label>
            </th>
            <td>
                <input type='text' id='email' name='email' class='form-control modal-notice-item' value='' required />

                <!-- data-form="email" data-validate="softUnique:users" data-lang="このユーザーIDはすでに登録されています。" -->
                @error('email') <div class='text-danger'>{{ $message }}</div> @enderror
            </td>
        </tr>
        <tr data-exist=$option_role>
            <th>
                <label for='role'><!-- data-lang='label:develop_message_optgroup_group' --></label>
            </th>
            <td>
                <div class='checkbox-inline' data-repeat=$option_role>
                    <label>
                    <!-- data-attribute="value" data-val=$value -->
                    <input type='checkbox' name='role[]' /> <!-- data-val=$label -->
                    </label>
                </div>

                @error('role') <div class='text-danger'>{{ $message }}</div> @enderror
            </td>
        </tr>
        <tr>
            <th>
                <label for='name'><!-- data-lang='template:admin_profile_name' --></label>
            </th>
            <td>
                <input type='text' id='name' name='name' class='form-control' value='' />

                @error('name') <div class='text-danger'>{{ $message }}</div> @enderror
            </td>
        </tr>
        <tr>
            <th>
                <label for='password'><!-- data-lang='template:admin_profile_password' --></label>
            </th>
            <td>
                <input type='password' id='password' name='password' class='form-control' required />

                @error('password') <div class='text-danger'>{{ $message }}</div> @enderror
            </td>
        </tr>
        <tr>
            <th>
                <label for='repassword'><!-- data-lang='template:admin_profile_password_check' --></label>
            </th>
            <td>
                <input type='password' id='repassword' name='repassword' class='form-control' required />

                <!-- data-form="repassword" data-validate="same:password" data-lang="パスワードが違います。" -->
                @error('repassword') <div class='text-danger'>{{ $message }}</div> @enderror
            </td>
        </tr>
    </tbody>
</table>

<!-- data-include='entry_separator' -->

<!--
    data-include='button_back'
    $buttonHref=route(\Blocs\Common::routePrefix().'.index')
-->
<!-- data-include='modal_store' -->

<!-- data-include='entry_footer' -->
