<!--
    data-include="../base/entry/header.blocs.html"
    $subTitle="新規作成"
-->

<div class="card-body pt-2 d-flex flex-column gap-3">
    <!-- :class="input-group input-group-outline is-invalid" data-exist=$errors->has("email") -->
    <div class="input-group input-group-outline">
        <label class="form-label"><!-- data-lang="template:admin_profile_user_id" --></label>
        <input type="text" name="email" class="form-control" required />

        <!-- !email="softUnique:users" data-lang="template:admin_user_id_unique" -->
        @error("email") <div class="invalid-feedback">{{ $message }}</div> @enderror
    </div>

    <div class="row" data-exist=$option_role>
        <label><!-- data-lang="template:admin_user_role" --></label>
        <div class="col-auto p-1" data-loop=$option_role>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" name="role[]" :value=$value /> <!-- $label -->
                </label>
            </div>
        </div>
    </div>

    <div class="input-group input-group-outline">
        <label class="form-label"><!-- data-lang="template:admin_profile_name" --></label>
        <input type="text" name="name" class="form-control" />
    </div>

    <!-- :class="input-group input-group-outline is-invalid" data-exist=$errors->has("password") -->
    <div class="input-group input-group-outline">
        <label class="form-label"><!-- data-lang="template:admin_profile_password" --></label>
        <input type="password" name="password" class="form-control" required />

        @error("password") <div class="invalid-feedback">{{ $message }}</div> @enderror
    </div>

    <!-- :class="input-group input-group-outline is-invalid" data-exist=$errors->has("repassword") -->
    <div class="input-group input-group-outline">
        <label class="form-label"><!-- data-lang="template:admin_profile_password_check" --></label>
        <input type="password" name="repassword" class="form-control" required />

        <!-- !repassword="same:password" data-lang="template:admin_profile_password_incorrect" -->
        @error("repassword") <div class="invalid-feedback">{{ $message }}</div> @enderror
    </div>
</div>

<!-- data-bloc="button_bottom_left" -->
    <!--
        data-include="button_back"
        $buttonHref=route("admin.user.index")
    -->
    <!-- data-include="modal_store" -->
<!-- data-endbloc -->

<!-- data-bloc="button_bottom_right" -->
<!-- data-endbloc -->

<!-- data-include="../base/entry/footer.blocs.html" -->
