<!-- $searchPlaceholder=lang('template:admin_user_search') -->

<!-- data-include="../base/index.html" -->

<!-- $modalName='modal_toggle' -->

<thead>
    <tr>
        <th class='col-xs-2 col-sm-1'></th>
        <th class='col-xs-4 col-sm-4'><!-- data-lang='template:admin_user_header_id' --></th>
        <th class='col-xs-6 col-sm-5'><!-- data-lang='template:admin_user_header_name' --></th>
        <th class='hidden-xs col-sm-2'><!-- data-lang='template:admin_user_header_registration' --></th>
    </tr>
</thead>
<tbody>
    <!-- :class="danger" data-exist=$selectedRows -->
    <tr data-loop=$users>
        <td>
            <input type='checkbox' name='selectedRows[]' style='display:none;' :value=$user->id />
            <!--
                data-include='button_toggle'
                $disabled_at=$user->disabled_at
            -->
        </td>
        <td class='ellipsis'>
            <a href="{{ route('admin.user.edit', ['id' => $user->id]) }}" class='toggle-item'><!-- $user->email --></a>

            <span class='label label-info' data-loop=$user->roles><!-- $role --></span>
        </td>
        <td class='ellipsis'><!-- $user->name --></td>
        <td class='hidden-xs'><!-- $user->created_at->toDateString() data-convert='date' --></td>
    </tr>
</tbody>

<!--
    data-include='modal_toggle'
    $modalActiveTitle=lang('template:admin_user_valid_title')
    $modalActiveMessage=lang('template:admin_user_valid_message')
    $buttonModalActiveLabel=lang('template:admin_user_button_valid')
    $modalInactiveTitle=lang('template:admin_user_invalid_title')
    $modalInactiveMessage=lang('template:admin_user_invalid_message')
    $buttonModalInactiveLabel=lang('template:admin_user_button_invalid')
    data-exist=$isLoop
-->

<!-- data-include='index_paginate' -->

<!-- data-include='button_create' -->
<!--
    data-include='modal_destroy'
    $modalAction=route('admin.user.select')
    data-exist=$isLoop
-->

<!-- data-include='index_footer' -->
